<h1>Grades</h1>
<% if session[:student_id] %>
  <% @student.grades.each do |grade| %>
  <%= grade.subject %>
  <%= grade.date %>
  <%= grade.assignment %>
  <%= grade.letter %>
  <% end %>
<% elsif session[:parent_id] %>
  <% @student.each do |student| %>
    <% student.grades.each do |grade| %>
    <%= grade.subject %>
    <%= grade.date %>
    <%= grade.assignment %>
    <%= grade.letter %>
    <% end %>
  <% end %>
<% end %>
