<h1>New Student</h1>

<%=@student.errors.full_messages %>

<%= form_for @student do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>E-mail: <%= f.text_field :email %></p>
  <p>Password: <%= f.password_field :password %></p>
  <%= f.submit "Sign Up!" %>
<% end %>
