<h1>New Parent</h1>

<%=@parent.errors.full_messages %>

<%= form_for @parent do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>E-mail: <%= f.text_field :email %></p>
  <p>Password: <%= f.password_field :password %></p>
  <%= f.submit "New Parent" %>
<% end %>

<%= link_to 'Back', parents_path %>
