<!DOCTYPE html>
<html>
<head>
  <title>TeacherHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><%= notice %></p>
  <% if session[:teacher_id] || session[:student_id] || session[:parent_id] %>
    <%= link_to "Log Out", logins_logout_path %>
    
  <% end %>

<%= yield %>

</body>
</html>
